<nav>
    <div class="logo pointer" (click)="scrollToTop()">
        <div>Shubh</div>
        <div>Soni</div>
    </div>
    <div class="nav-items subtitle">
        <div (click)="scrollToAbout()">About</div>
        <div (click)="scrollToSkills()">Skills</div>
        <div (click)="scrollToPortfolio()">Projects</div>
        <div (click)="scrollToContact()">Contact</div>
    </div>
    <!-- <a href="assets/resume.pdf" target="_blank" class="resume-btn-link">
        <button class="resume-nav-btn">Resume ↗</button>
    </a> -->
</nav>