<div #bottomSection class="container hidemobile">
  <div class="logo hidemobile"><div>Shub<span class="second">h</span></div><div>Soni</div> </div>
  <!-- <span class="hidemobile pointer underline" (click)="openImprint()">Imprint</span> -->
</div>
<div class="logo hidedesktop"><div>Shub<span class="second">h</span></div><div>Soni</div> </div>
<div class="copyright"><span>©</span>Shubh Soni<div>2024</div></div>
<div class="icon-ctn"><app-section-icons></app-section-icons></div>
<!-- <div class="hidedesktop pointer underline" (click)="openImprint()">Imprint</div> -->
