<form #contactForm="ngForm" ngNativeValidate (ngSubmit)="sendMail()">
  <div class="form-group">
    <div
      [ngClass]="
        inputName.invalid &&(inputName.dirty || inputName.touched)
          ? 'errorAlert errorInput'
          : inputName.touched || inputName.dirty
          ? 'errorAlert successInput'
          : ''
      "
    >
      <input
        type="text"
        id="inputName"
        name="inputName"
        class="form-control"
        required
        minlength="2"
        [(ngModel)]="inputData.inputName"
        #inputName="ngModel"
        placeholder="Your name"
      />
      <img
        class="alertImg"
        *ngIf="inputName.invalid && (inputName.dirty || inputName.touched)"
        src="https://shubhsonidev.github.io/portfolio/assets/img/icons/alert.png"
        alt=""
      />
      <img
        class="alertImg"
        *ngIf="inputName.valid && (inputName.dirty || inputName.touched)"
        src="https://shubhsonidev.github.io/portfolio/assets/img/icons/check.png"
        alt=""
      />
    </div>

    <div
      *ngIf="inputName.invalid && (inputName.dirty || inputName.touched)"
      class="alert"
    >
      <div class="validation-container" *ngIf="inputName.errors?.['required']">
        <span class="validation-error-msg">Your name is required.</span>
      </div>
      <div class="validation-container" *ngIf="inputName.errors?.['minlength']">
        <span class="validation-error-msg"
          >Name must be at least 2 characters long.</span
        >
      </div>
    </div>
  </div>

  <!-- Email form group starts here -->
  <div class="form-group">
    <div
      [ngClass]="
        inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)
          ? 'errorAlert errorInput'
          : inputEmail.touched || inputEmail.dirty
          ? 'errorAlert successInput'
          : ''
      "
    >
      <input
        type="email"
        id="inputEmail"
        name="inputEmail"
        class="form-control"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        [(ngModel)]="inputData.inputEmail"
        #inputEmail="ngModel"
        placeholder="Your email"
      /><img
        class="alertImg"
        *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)"
        src="https://shubhsonidev.github.io/portfolio/assets/img/icons/alert.png"
        alt=""
      />
      <img
        class="alertImg"
        *ngIf="inputEmail.valid && (inputEmail.dirty || inputEmail.touched)"
        src="https://shubhsonidev.github.io/portfolio/assets/img/icons/check.png"
        alt=""
      />
    </div>

    <div
      *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)"
      class="alert"
    >
      <div class="validation-container" *ngIf="inputEmail.errors?.['required']">
        <span class="validation-error-msg"
          >Your email address is required.</span
        >
      </div>
      <div class="validation-container" *ngIf="inputEmail.errors?.['pattern']">
        <span class="validation-error-msg">Please enter an email address.</span>
      </div>
    </div>
  </div>

  <!-- Message form group starts here -->
  <div class="form-group">
    <div
      [ngClass]="
        inputMessage.invalid && (inputMessage.dirty || inputMessage.touched)
          ? 'errorAlert errorInput'
          : inputMessage.touched || inputMessage.dirty
          ? 'errorAlert successInput'
          : ''
      "
    >
      <textarea
        name="inputMessage"
        id="inputMessage"
        cols="30"
        rows="6"
        class="form-control"
        required
        [(ngModel)]="inputData.inputMessage"
        #inputMessage="ngModel"
        placeholder="Your message"
      ></textarea>

      <img
        class="alertImg"
        *ngIf="
          inputMessage.invalid && (inputMessage.dirty || inputMessage.touched)
        "
        src="https://shubhsonidev.github.io/portfolio/assets/img/icons/alert.png"
        alt=""
      />
      <img
        class="alertImg"
        *ngIf="
          inputMessage.valid && (inputMessage.dirty || inputMessage.touched)
        "
        src="https://shubhsonidev.github.io/portfolio/assets/img/icons/check.png"
        alt=""
      />
    </div>
    <div
      *ngIf="
        inputMessage.invalid && (inputMessage.dirty || inputMessage.touched)
      "
      class="alert"
    >
      <div class="validation-container" *ngIf="inputMessage.errors?.['required']">
        <span class="validation-error-msg">Your message is empty</span>
      </div>
    </div>
  </div>

  <div class="btn-container">
    <button type="submit" class="main-btn" [disabled]="!contactForm.form.valid">
      📨 Send message
    </button>
  </div>
</form>
<app-success-message *ngIf="showSuccess"></app-success-message>