<div #aboutSection class="about-section-container">
  <img
    class="about-bg-form"
    src="https://shubhsonidev.github.io/portfolio/assets/img/bg/darkblue-shadow-right.png"
  />
  <div data-aos="fade-up" data-aos-duration="1000" class="aboutcontainer">
    <h2>About me</h2>
    <div>
      <p>
        I am a Fullstack Developer based in India, focusing on crafting web
        applications and websites that solve real-life problems. I have
        developed multiple practical web applications and previously worked at a
        startup called ByajBook, specializing in debt management solutions,
        where I contributed to the development of both the web app and website.
      </p>
      <div class="mobileimagecontainer hidedesktop">
        <img
          class="mobileimage hidedesktop"
          src="https://shubhsonidev.github.io/portfolio/assets/img/shubh2.jpg"
          alt="Shubh Soni"
        />
      </div>
      <!-- <p>
        My experience has sharpened my problem-solving skills within complex IT
        environments, where I played a crucial role in identifying and resolving
        issues to ensure smooth functionality. Collaborating on various group
        projects has allowed me to thrive as a team player, blending technical
        expertise with insights gained from contributing to international
        marketing and IT projects.
      </p> -->
      <p>
        Explore some of my projects on this website as well as my github repo to
        gain insight into my capabilities and the impactful work I've been
        involved in. I am enthusiastic about bringing my skills and passion for
        coding to new challenges and projects.
      </p>
    </div>
  </div>
  <div class="imagecontainer hidemobile">
    <div class="line hidemobile"></div>
    <img
      class="aboutimage hidemobile"
      src="https://shubhsonidev.github.io/portfolio/assets/img/shubh2.jpg"
      alt="Shubh Soni"
    />
  </div>
</div>
