.successpopup {
  position: relative;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 50px;

  font-size: var(--font9);
  text-align: center;

  background-color: var(--color-darkbluebg);
  border: 1px solid var(--color-primary);
  border-radius: 10px;

  overflow: hidden;

  box-shadow: 
  0px 1px 2px 0px var(--color-primary),
    5px 4px 8px 0px var(--color-secondary);

  animation: 5s fadeZoomInOut ease-in-out;

  img {
    height: 100px;
    margin: 25px;
  }

  h3 {
    font-size: var(--font8);
  }

  @media (min-width: 500px) {
    width: 300px;
  }
}
