.section-title-container {
  display: flex;
  flex-direction: column;
  z-index: 0;

  @media (min-width: 1200px) {
    width: 50vw;
  }
}

.fullcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  @media (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.title-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 35px; 
}



.title-container {
  // background-color: var(--color-background);
  // margin-top: calc(74px + 48px);
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 35px;

  @media (max-width: 389px) {
    flex-direction: column;
    text-align: center;
  }
}



// button {
//     margin-top: 26px;
//     margin-bottom: 70px;
// }

.title-vertical {
  color: white;
  rotate: -90deg;
  font-size: 28px;
  // width: 19%;
  margin: -6%;
  margin-left: -8%;

  @media (max-width: 389px) {
    font-size: 21px;
    rotate: 0deg;
    margin: 0%;
  }

  @media (min-width: 1200px) {
    font-size: 46px;
    margin: -3%;
  }
}

.title-horizontal {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 81%;
  margin: 0;

  @media (max-width: 389px) {
    width: 100%;
  }
}

.myname {
  font-size: 34px;
  font-weight: 700;
  color: white;
  line-height: 120%;


  @media (max-width: 389px) {
    font-size: 23px;
  }

  @media (min-width: 1200px) {
    font-size: 53px;
  }
}

.jobtitle {
  text-transform: uppercase;
  font-size: 28px;
  color: var(--color-secondary);
  line-height: 120%;
  // margin-bottom: 26px;

  @media (max-width: 389px) {
    font-size: 23px;
  }

  @media (min-width: 1200px) {
    font-size: 44px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  max-width: 680px;

  @media (min-width: 1200px) {
    width: 40vw;
  }

  .bg-colors-container {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    z-index: -6;
    height: 100%;
    width: 100%;

    @media (min-width: 1200px) {
      width: 35vw;
      top: 175px;
      left: -245px;
      overflow: unset;
    }
  }

  .bg-colors {
    width: 45%;
    scale: 1.1;
    filter: blur(46.5px);
    max-height: 800px;

    @media (min-width: 1200px) {
      width: 100%;
      scale: 1;
      filter: blur(90px);
      max-height: 800px;
    }
  }

  .titleimage {
    position: absolute;
    top: 87px;
    overflow: visible;
    width: calc(100% - 54px);
    max-width: 450px;
    z-index: -2;

    @media (min-width: 1200px) {
      position: relative;
      top: 0;
      left: 20px;
      width: 100%;
      min-width: 360px;
      max-width: 660px;
    }
  }
}

.bg-shape {
  position: absolute;
  top: 40vh;

  z-index: -1;

  @media (min-height: 1300px) {
    top: 35vh;
  }

  @media (max-height: 590px) {
    top: 20vh;
  }

  @media (max-height: 720px) {
    top: 30vh;
  }

  @media (min-width: 1200px) {
    top: 60%;
    width: 100%;
  }

  @media (min-width: 2700px) {
    top: 50%;
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .margin {
    margin-bottom: 5vh;
  }
}
.main-btn{
  color: black !important;
}