<img
  class="bg-shape"
  src="https://shubhsonidev.github.io/portfolio/assets/img/bg/bg1.png"
  alt=""
/>
<div class="fullcontainer">
  <div class="image-container">
    <div class="bg-colors-container">
      <img class="bg-colors" style="margin-left: 3%" src="{{ bgLeft }}" />
      <img class="bg-colors" style="margin-right: 3%" src="{{ bgRight }}" />
    </div>

    <img
      class="titleimage"
      src="https://shubhsonidev.github.io/portfolio/assets/img/shubh.png"
      alt="Shubh Soni"
    />
  </div>

  <div
    data-aos="fade-up"
    data-aos-duration="1000"
    class="section-title-container"
  >
    <div class="title-btn-container">
      <div class="title-container">
        <div class="title-vertical">I am</div>
        <div class="title-horizontal">
          <div class="myname">Shubh Soni</div>
          <div class="jobtitle">Fullstack Developer</div>
        </div>
      </div>
      <div class="btn-container margin">
        <button class="main-btn" (click)="scrollToContact()">
          Let's Connect
        </button>
      </div>
    </div>
  </div>
</div>
