<div>
  <div class="portfolio-item" style="overflow: hidden">
    <!-- Portfolio item default view -->
    <img
      id="portfolioitem{{ index }}"
      (mouseover)="openPortfolioItem(index)"
      class="portfolio-image fade-in"
      src="{{ portfolioItem.mainImage }}"
      alt="{{ portfolioItem['title'] }} image"
    />

    <!-- Portfolio item detailed view -->
    <!-- <div
      id="portfolioitemdetail{{ index }}"
      (mouseleave)="closePortfolioItem(index)"
      class="portfolio-item-detail d-none fade-in"
      style="background-image: url({{
        portfolioItem.backgroundImage
      }}); background-position: top; background-size: contain; filter: brightness(100%)"
    >
      <div class="background-container"></div>
    </div> -->
  </div>
  <div class="infos-container">
    <h3 style="text-align: center; line-height: 2rem">
      {{ portfolioItem.title }}
    </h3>

    <!-- <p>{{ portfolioItem.description }}</p> -->
    <!-- <div class="tag-container">
      <div *ngFor="let tag of portfolioItem.tags; let j = index">
        {{ tag }}
        <span *ngIf="j < portfolioItem.tags.length - 1"> |</span>
      </div>
    </div> -->
    <div class="btn-container" style="gap: 1rem">
      <a
        *ngIf="portfolioItem.gitLink"
        [href]="portfolioItem.gitLink"
        target="_blank"
      >
        <button class="secondary-btn">Github</button>
      </a>

      <a
        *ngIf="portfolioItem.backendLink"
        [href]="portfolioItem.backendLink"
        target="_blank"
      >
        <button class="tertiary-btn">Backend Live</button>
      </a>

      <a
        *ngIf="portfolioItem.liveLink"
        [href]="portfolioItem.liveLink"
        target="_blank"
      >
        <button class="tertiary-btn">Live Link</button>
      </a>
      <a
        *ngIf="portfolioItem.contact"
        (click)="scrollToContact()"
        target="_blank"
      >
        <button class="tertiary-btn">Contact For Demo</button>
      </a>
    </div>
  </div>
</div>
