.portfolio-item {
  width: 340px;
  height: 340px;
  border: 1px solid var(--color-primary);
  border-radius: 15px;
  background: rgba(20, 29, 47, 0.8);

  @media (min-width: 700px) {
    //
  }

  @media (min-width: 1125px) {
    width: 475px;
    height: 475px;
  }

  @media (min-width: 1444px) {
    width: 600px;
    height: 600px;
  }

  @media (max-width: 389px) {
    width: 250px;
    height: auto;
  }

  @media (max-width: 389px) {
    width: 300px;
    height: 300px;
  }

  @media (max-width: 320px) {
    width: 280px;
    height: 280px;
  }

  @media (max-width: 300px) {
    width: auto;
    height: auto;
  }
}

.portfolio-image {
  width: 100%;
}

.portfolio-item-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 15px;

  .background-container {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background: rgba(20, 29, 47, 0.8);
    z-index: 1;
  }

  .btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    gap: 43px;
    height: 40%;
    z-index: 2;
    a {
      text-decoration: none;
    }
  }

  .infos-container {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 30px 30px 15px 15px;
    z-index: 2;

    padding: 6% 6%;
    max-width: 340px;

    @media (min-width: 1125px) {
      max-width: 475px;
    }

    @media (min-width: 1444px) {
      max-width: 600px;
    }

    p {
      text-align: center;
      line-height: 120%;
      font-size: var(--font4);
    }
  }

  .tag-container {
    color: var(--color-primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    font-size: var(--font4);
    text-align: center;
  }
}
