<div class="line-contact" data-aos="fade-zoom-in-left"
data-aos-easing="ease-in"
data-aos-delay="1000"></div>
<h2 data-aos="fade-up" data-aos-duration="1000">Contact</h2>
<div #contactSection class="contact-container" data-aos="fade-up" data-aos-duration="1000">
  <div class="contact-text">
    <h3>Got a problem to solve?</h3>
    <p>
      Contact me through this form, I am interested in hearing you, knowing your
      ideas and contributing to your projects with my work.
    </p>
    <p>Need a Frontend developer? <b>Contact me!</b></p>
  </div>
  <app-contact-form data-aos="fade-up" data-aos-duration="1000"></app-contact-form>
  <img class="contact-bg-form" src="https://shubhsonidev.github.io/portfolio/assets/img/bg/darkblue-shadow-bottom.png">
</div>
<div class="upbtn" (click)="scrollToTop()" data-aos="fade-up" data-aos-duration="1000"><div></div></div>

