.imprint-container {
  padding-top: 20px;
  width: 100%;

  @media (min-width: 1200px) {
    padding-top: 50px;
  }
}

.imprint-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      cursor: pointer;
      margin-right: 10px;

      &:hover {
        color: var(--color-primary)
      }
    }
}


